.home-main__section{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}
.text-section{
    width: 50%;
    padding: 0 5%;
}
.image-section{
    width: 50%;
    position: relative;
}
h1{
    font-size: 48px;
    letter-spacing: -.01rem;
    line-height: 1.15;
    font-weight: bold;
    margin-bottom: 1rem;
}
p{
    margin-bottom: 2rem;
    font-size: 25px;
    line-height: 1.5;
}
.main-section__btn{
    background-color: navy;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    cursor: pointer;
}
.main-section__btn:hover{
    transform: translate(0, -3px);
    box-shadow: 0 5px 15px rgba(30, 34, 40, .15);
}
#home-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.second-section{
    padding-bottom: 140px;
}
.headline-reasons{
    max-width: 660px;
  text-align: center;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
.secondary-text{
  letter-spacing: .02rem;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.35;
  color: #aab0bc;
  margin-top: 0;
  margin-bottom: 50px;
}
.reason-text{
    letter-spacing: -.01rem;
  margin-bottom: 15px;
  font-size: 44px;
  line-height: 1.2;
}
.highlight{
    padding-left: 2px;
    padding-right: 2px;
    -webkit-text-fill-color: transparent;
  background-image: linear-gradient(100deg, #605dba 20%, #3f78e0);
  -webkit-background-clip: text;
  background-clip: text;
}
.tabs-section{
    position: relative;
}
.tab-menu{
  position: relative;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  display: flex;
  justify-content: space-between;
}
#tab{
    grid-column-gap: 20px;
  flex-direction: row;
  flex: 1;
  padding: 30px;
  transition: box-shadow .2s, background-color .2s, color .2s;
  display: flex;
  text-align: left;
  cursor: pointer;
  color: #222;
  text-decoration: none;
  position: relative;
  max-width: 100%;
}
.first-tab{
font-size: 50px;
  font-weight: 600;
  line-height: 1;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(100deg, #605dba 20%, #3f78e0);
  background-clip: text;
}
.tab-desc{
    color: #343f52;
  letter-spacing: -.01rem;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 21px;
  font-weight: 600;
  line-height: 1.4;
}
.body-color{
    color: #60697b;
}
.grid-section{
  grid-column-gap: 70px;
  grid-row-gap: 50px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
  margin-top: 130px;
}
.grid-img{
  width: 100%;
  border-radius: 8px;
}
.text-area{
  margin-top: 45px;
}
.text-area__desc{
  margin-bottom: 25px ;
}