.services{
    margin-top: 100px; 
    padding-bottom: 20px;
    text-align: center;
}
.secondary-text{
    text-align: center;
}
#services-main__text{
    text-align: center;
    font-size: 40px;
}
  .service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .service-item {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
  }
  .services-img{
    width: 70%;
  }
  .services-title{
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .services-desc{
    font-size: 13px;
  }
  #pm-img{
    padding-bottom: 13px;
  }
  #seo-img{
    padding-bottom: 20px;
  }
  #web-img{
    width: 100%;
    padding-bottom: 5px;
  }
  #shop-img{
    padding-bottom: 35px;
  }
  #media-img{
    padding-bottom: 10px;
  }
  .service-item:hover {
    transform: translate(0, -10px);
    background-color: #30efa61a;
    transition: all 0.3s ease-in-out;
  }